<div class="col-md-6 offset-md-3">

  <h3> Create Client</h3>
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="client.name" name="name">
    </div>
    <div class="form-group">
      <label for=""> Surname</label>
      <input type="text" class="form-control" id="surname" [(ngModel)]="client.surname" name="surname">
    </div>
    <div class="form-group">
      <label for=""> Age</label>
      <input type="text" class="form-control" id="age" [(ngModel)]="client.age" name="age">
    </div>
    <div class="form-group mb-3">
      <label for="">isClient</label>
      <select class="form-control" id="isClient" [(ngModel)]="client.isClient" name="isClient">
        <option [ngValue]="true">true</option>
        <option [ngValue]="false">false</option>
      </select>
    </div>

    <button class="btn btn-success" type="submit">Submint</button>

  </form>
</div>
